.entry {
  text-align: center;
  min-height: 400px;
  position: relative;
}
.entry.tall {
  min-height: 450px;
}
.entry div {
  position: absolute;
  left: 50%;
  top: 50%;
}
.entry div:before,
.entry div:after {
  display: block;
  content: '';
  position: absolute;
}